*, html {
    margin : 0;
    padding : 0;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */

}

body{
    background-image: linear-gradient(rgba(113, 113, 113, 0.5), rgba(138, 138, 138, 0.5)), url("assets/polygon.jpg");
}

nav{
    background-color: #000957;
    display: flex;
    justify-content: space-between;
    position: sticky; top: 0;
    padding-top: 0.5rem;
    width: 100%;
    height: 52px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

nav ul{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-top : 1rem;
    gap: 1rem;
}

nav ul li{
    list-style-type: none;
    width: 100%;
    font-style: bold;
    width: 5rem;
    height: auto;
    justify-content: center;
    display: flex;
    color: #ffffff;
    padding : 0.5rem;
    transition: all;
    transition-duration: 0.5s;
    text-decoration: none;
    color :white;
}

a {
    text-decoration: none;
    color :white;
}

.now {
    background-color: #344CB7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color :#d5d5d5
}

nav ul li:hover{
    background-color: #344CB7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color :#d5d5d5
}

nav .logo {
    display: flex;
    align-items: center;
    gap :1rem;
    color: #ffffff;
    padding-bottom: 0.5rem;
}

.namalogo {
    display: flex;
    gap:0.2rem;
}

.jkt {
    color :#FFEB00;
}

nav div img {
    width: 50px;
    height: 45px;
    padding-left : 2rem;
}

.icon-list {
    display: none;
    color: #ffffff;
    font-size: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    cursor: pointer;
}

/* main content */


main {
    display: flex;
    flex-wrap: wrap;
    padding :1rem;
}

.caption {
    padding-bottom: 1.rem;
}

.input p {
    font-size: 15px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.opsi p {
    font-size: 15px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.input input{
    border-radius: 3px;
    width :310px;
    height :30px;
}

.input i {
    font-size: 25px;
    color: #ff0000;
    font-weight: bold;
    padding: 0.5rem;
}

.input button {
    border :none;
    border-radius: 5px;
    background-color: #344CB7;
    color:white;
    width : 50px;
    height :30px;
    
}

.submit {
    display: flex;
    justify-content: left;
    align-items: center;
    gap :3px;
}



center {
    padding :0.5rem;
    color :white
}

.tabel{
    width : 100%;
    height: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border-style: rounded;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.disclaimer{
    margin: 0.5rem;
    padding: 0.5rem;
    letter-spacing: 1px;
    background-color: #ff0000;
    border-radius: 8px;
    border-style: rounded;
    font-size: 15px;
}

.cont1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap :1rem;
}

.container{
    align-content: center;
    /* padding: 0rem; */
    width : 40%;
    height: 400px;
    color :white;
    letter-spacing: 3px;
    border-radius: 10px;
    border-style: rounded;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

.warning{
    color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1rem;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease-in-out;
    z-index: -1;

}

.warning.open{
    opacity: 1;
    z-index: 1000;
}

.innerwarn{
    background-color: #ffffff;
    border-radius: 8px;
    width: 380px;
    letter-spacing: normal;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.innerwarn center{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#ff0000;
    height: 50px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.innerwarn button{
    margin: 1rem;
    background-color: #565656
}

.isicont{
    margin :2rem;
}

.isicont p{
    font-size: 20px;
}

.grafik{
    padding: 1rem;
    width : 55%;
    height: auto ;
    background-color: #577BC1;
    border-radius: 10px;
    border-style: rounded;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.visual{
    padding: 1rem;
    margin: 1rem;
    width : 100%;
    background-color: #577BC1;
    border-radius: 10px;
    border-style: rounded;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.gambarvisual img{
    width: 100%;
    border-radius: 10px;
}

input[type="button"]{
    width: 200px;
}

input[type="number"]{
    width: 70px;
    border-style: none;
}

input[type="button"]:hover{
    background-color: #565656;
    color: #ffffff;
    cursor: pointer;
}

button {
    border-style: none;
    border-color: #ffffff;
    border-radius: 5px;
    color :#565656;
    width: 100px;
    height: 30px;
}

button:hover{
    background-color: #344CB7;
    color: #ffffff;
    cursor: pointer;
}


canvas {
    border:1px solid #ccc;
    border-radius: 5px;
    width : 100%;
    height: 400px;
    background-color: #fff;
}

footer {
    background-color: #505050;
    width :100%;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #505050;
    width :100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    ;
}

@media screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        padding-top: 1rem;
        padding-bottom :1rem ;
    }

    .now {
        background-color: transparent;
        color :#d5d5d5
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        justify-content: left;
        align-items: left;
        background-color:#000957;
        margin-top: 0.8rem;
        animation: slide 0.5s ease-in-out;
    }

    nav ul li {
        width: auto;
    }

    nav ul li:hover{
        background-color: transparent;
        color :#d5d5d5;
        scale :1.3;
    }

    nav ul.navbar {
        display: none;
        animation: appear 0.5s ease-in-out;
    }

    .container {
        flex-direction: column;
        height: auto;
        margin: 2rem;
    }

    .icon-list {
        display: block;
    }

    .cont1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    
    .container {
        width: 100%; 
    }

    .grafik {
        width :90%;
    
    }

    

    canvas {
        width: 100%;
        height: auto;
    }
}



@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}