*, html {
    margin : 0;
    padding : 0;

}

body{
    background-image: linear-gradient(rgba(113, 113, 113, 0.5), rgba(138, 138, 138, 0.5)), url("assets/polygon.jpg");
}



a {
    text-decoration: none;
    color :white;
}

nav{
    background-color: #000957;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    /* position: fixed; */
    width: 99%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

nav ul{
    display: flex;
    align-items: center;
    padding-right: 2rem;
}

nav ul li{
    list-style-type: none;
    width: 100%;
    font-style: bold;
    
    color: #ffffff;
    padding : 0.5rem;
    transition: all;
    transition-duration: 0.5s;

}

nav ul li:hover{
    background-color: #344CB7;
    border-radius: 5px;
    color :#d5d5d5
}
img {
    width: 50px;
    height: 50px;
    padding : 0.5rem;
}

.icon-list {
    display: none;
    color: #ffffff;
    font-size: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    cursor: pointer;
}

/* main content */


main {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

.container {
    /* background-color: #525355; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: 2rem;
}

.container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 30px;
}

.container .logo img {
    width: 200px;
    height: 200px;
    margin: 1rem;
}

.content {
    width: 100%;
    height: 100%;
    margin: 2rem;
    padding: 2rem;
}

.mulai {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.mulai a {
    background-color: #000957;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    animation-duration: 0.5s;
}

.mulai a:hover {
    background-color: #344CB7;
    color: #d5d5d5;
    scale: 1.1;
    transition: all;
    transition-duration: 0.3s;
}

.vl {
    border-left: 1px solid rgb(0, 0, 0);
    height: 420px;
  }
@media screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        width: auto;
    }

    nav ul.navbar {
        display: none;
    }

    .container {
        flex-direction: column;
        height: auto;
    }

    .vl {
        display: none;
    }
}



@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}