*, html {
    margin: 0;
    padding: 0;
}



.ul-cont {
    display: flex;
    align-items: center;
}
.li-cont {
    list-style-type: none;
    width : 100px;
}

.logo {
    width: 50px;
}

nav{
    border: black;
    background-color: #000957;
    padding: 1rem;
    display : flex;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color :#ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition : all;
    transition-duration: 0.5s;
    border-bottom: 1px solid transparent;
}

nav ul li a:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    color: #dcdcdc;
}

.icon-list {
    font-size: 25px;
    display:none
}

body {
    background-color: #B0B7C4;
}
/* responsif nav */
@media only screen and (max-width: 768px) {
    nav{
        flex-wrap : wrap;
    }
    .ul-cont{
        flex-direction: column;
        width:100%;
    }
    
    .icon-list{
        display: flex;
        align-items: center;
    }


}
